//-------------Start Variables---------------------
:root {
    --main-color: rgb(238, 183, 87);
    --btn-color: rgb(205, 48, 74);
    --aqua-color: rgba(187, 211, 239, 0.184);
    --green-color: rgb(16, 80, 83);
    --yellow-color: rgb(255, 187, 0);
}
//-------------End Variables---------------------
//-------------Start Mixins---------------------
@mixin mt-100 {
    margin-top: 100px;
}
@mixin box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 12px;
}
@mixin box-customized{
    @include box();
    max-height: 80px;
    margin-bottom: 15px;
    p{
        display: inline-block;
        font-size: 0.9rem;
        border-left: 2px solid #eee;
        height: 60px;
        padding-left: 30px;
        margin-left: 10px;
        width: fit-content;
        &::after{
            content: "10:10 am - 11:00 am blood doctor";
            width: 100px;
            height: 0px;
            color: rgb(131, 130, 130);
            top: 20px;
            left: 28px;
            font-size: .6rem;
        }
    }
    .btn{
        background-color: transparent;
        border: 0px;
        padding: 0px 0px;
    }
    svg{
        color: var(--main-color);
        font-size: 20px;
    }
    .dropdown{
        display: inline-block;
        margin-left: 84px;
        ul{
            min-width: fit-content;
            height: 70px;
            background-color: var(--green-color);
            li{
                font-size: 0.7rem;
                a{
                    padding: 0px 35px 0px 10px;
                    color: white;
                    &:hover{
                        color: black;
                    }
                }
            }
        }
    }
}
/*
@mixin word($word,$color,$border-color,$top-value,$left-value) {
    &::after {
        content: $word;
        position: absolute;
        color: $color;
        border-bottom: 4px solid $border-color;
        top: $top-value;
        left: $left-value;
    }
}*/
//-------------End Mixins---------------------
//-------------Start Navbar---------------------
.navbar {
    min-height: 93px;
}

.navbar-expand-lg {
    .navbar-nav {
        .nav-link {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}

.navbar-light {
    background-color: var(--green-color);

    .navbar-nav {
        .nav-link {
            color: white;

            &.active,
            &:hover {
                color: var(--main-color);
            }
        }

    }
}

.btn {
    padding: 13px 1.5rem;
    font-size: 1.0rem;
    background-color: var(--main-color);
}

//-------------End Navbar---------------------
//-------------Start Smile Section---------------------
.smile {
    max-height: 700px;
    overflow: hidden;
    background-color: var(--green-color);

    .container {
        margin-top: 80px;
    }

    .text {
        width: 40%;

        h1 {
            margin-top: 30px;
            font-size: 1.5rem;
            color: var(--main-color);
        }

        h2 {
            color: white;
            font-size: 3.1rem;
            width: 85%;
            position: relative;
            span {
                font-weight: 600;
            }
            &::after {
                content: "Smile.";
                color: var(--main-color);
                border-bottom: 4px solid var(--main-color);
            }
        }

        P {
            width: 85%;
            color: white;
            font-size: 1rem;
            margin-bottom: 33px;
        }

        .btns {
            width: 60%;
            margin-left: 0px;

            button {
                text-transform: capitalize;
                padding: 10px 25px;
                background-color: var(--main-color);
                border-radius: 5px;
                border: none;
                margin-right: 20px;
                &.find {
                    color: var(--main-color);
                    border: 1px solid var(--main-color);
                    background-color: var(--green-color);
                }
            }
        }
    }

    .image {
        width: 45%;
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }
}

//-------------End Smile Section---------------------
//-------------Start Our Dentist Section---------------------
.our-dentist {
    margin-top: 130px;

    .image {
        width: 50%;

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
        }
    }

    .text {
        width: 45%;

        h2 {
            font-size: 2.5rem;
            font-weight: 400;
            position: relative;

            &::after {
                content: "";
                width: 128px;
                height: 4px;
                background-color: var(--main-color);
                top: 100px;
                left: 258px;
                position: absolute;
            }
        }

        span {
            text-transform: capitalize;
            font-weight: 600;
        }

        p {
            width: 68%;
        }

        ul {
            li {
                font-size: 1.4rem;
                font-weight: 500;
                margin-bottom: 12px;

                &::marker {
                    font-size: 1.8rem;
                    color: var(--main-color);
                }
            }
        }

        h2,
        p {
            margin-bottom: 30px;
        }
    }
}

//-------------End Our Dentist Section---------------------
//-------------Start Communication Section---------------------
.communication {
    margin-top: 90px;

    .container {
        width: 70%;
        margin: auto;
    }

    .im {
        width: 20%;

        img {
            width: 85%;
            margin-bottom: 30px;
        }

        p {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

//-------------End Communication Section---------------------
//-------------Start Our Gallery Section---------------------
.our-gallery {
    @include mt-100();

    .title {
        .p-1 {
            font-size: 2.4rem;
            font-weight: 500;
            position: relative;

            &::after {
                content: "";
                width: 120px;
                height: 4px;
                background-color: var(--main-color);
                top: 58px;
                right: 514px;
                position: absolute;
            }
        }

        .p-2 {
            width: 520px;
            margin: auto;
        }
    }

    .gallery {
        margin-top: 50px;
        background-color: var(--green-color);
        width: 100%;
        height: 750px;

        img {
            max-width: 300px;
            max-height: 400px;
        }

        .img-mb {
            margin-bottom: 30px;
        }

        div {
            width: 75%;

            div {
                flex-direction: column;
                height: fit-content;
            }
        }
    }
}

//-------------End Our Gallery Section---------------------
//-------------Start An Appointment Section---------------------
.appointment {
    @include mt-100();
    p {
        font-size: 2.4rem;
        font-weight: 600;
        position: relative;
        margin-bottom: 55px;
        &::after {
            content: "";
            width: 231px;
            height: 4px;
            background-color: var(--main-color);
            top: 58px;
            right: 450px;
            position: absolute;
        }
    }
    .image{
        width: 45%;
        img{
            width: 95%;
        }
    }
    .schedule {
        width: 50%;
        & > div{
            width: 82%;
        }
        .bb{
            border-bottom: 2px solid #eee;
            margin-bottom: 23px;
        }
        h2{
            font-size: 2.0rem;
            font-weight: 700;
            margin-bottom: 23px;
        }
        .form-check {
            display: inline-block;
            margin-bottom: 20px;
            &-input {
                width: 2.5rem;
                height: 26px;
                margin-left: -1.5em;
                margin-right: 1.5rem;
                background-color: var(--main-color);
                cursor: pointer;
            }
        }
        label {
            font-size: 1.3rem;
            font-weight: 600;
        }
        .calender{
            margin-bottom: 20px;
        }
        .boxes{
            width: 47%;
            flex-direction: column;
            h3{
                font-size: 1.4rem;
            }
            & > div{
                width: 100%;
                padding-bottom: 10px;
                &.bb{
                    border-bottom: 5px solid var(--main-color);
                    margin-bottom: 30px;
                }
            }
            .box-1{
                @include box();
                span{
                    border-left: 2px solid #eee;
                    padding-left: 30px;
                    margin-left: 10px;
                }
            }
            .box-2{
                @include box-customized();
            }
            .box-3{
                @include box-customized();
                p{
                    &::after{
                        content: "11:10 am - 1:00 pm general doctor";
                    }
                }
            }
            .box-4{
                p{
                    &::after{
                        content: "03:10 am - 03:50 am blood doctor";
                    }
                }
                .dropdown{
                    left: 130px;
                    top: -115px;
                }
            }
            .box-6{
                p{
                    &::after{
                        content: "05:10 am - 07:00 pm general doctor";
                    }
                }
                .dropdown{
                    left: 130px;
                    top: -115px;
                }
            }
        }
    }
}
//-------------End An Appointment Section---------------------
//-------------Start Feedback Section---------------------
.feedback{
    h2{
        font-size: 2.4rem;
        font-weight: 600;
        width: 550px;
        margin: auto;
        margin-bottom: 55px;
        @include mt-100();
        span{
            border-bottom: 4px solid var(--main-color);
        }
    }
    .container-3{
        width: 90%;
        margin: auto;
        .image{
            width: fit-content;
            img{
                width: 409.6px;
                height: 270.4px;
            }
        }
    }
    .carousel{
        width: 600px;
        p{
            color: black;
            font-size: 1.2rem;
            margin-left: 10px;
            margin-bottom: 40px;
            color: rgb(74, 73, 73);
            font-weight: 400;
        }
        .carousel-inner{
            .carousel-item {
                .carousel-caption{
                    .svg-inline--fa {
                        color: bisque;
                        margin-left: -40px;
                        font-size: 40px;
                    }
                    .left-icon{
                        margin-left: 5px;
                        margin-bottom: -12px;
                    }
                    .personal-data{
                        img{
                            display: inline-block;
                            width: 96.6px;
                            height: 95.5px;
                            border-radius: 25px;
                            margin-left: -240px;
                            margin-bottom: 15px;
                        }
                        h5{
                            display: inline-block;
                            position: relative;
                            width: 140px;
                            font-size: 22px;
                            color: black;
                            top: -21px;
                            &::after{
                                content:"Parents";
                                position: absolute;
                                color: rgb(74, 73, 73);
                                font-size: 14px;
                                font-weight: 400;
                                top: 30px;
                                left: 15px;
                            }
                        }
                    }
                }
            }
        }
        .carousel-indicators {
            margin-left: -330px;
            & [data-bs-target] {
                width: 16px;
                height: 8px;
                color: black;
                margin-right: 5px;
                border-radius: 49%;
                background-color: var(--main-color);
            }
            .active{
                width: 25px;
                height: 9px;
            }
            
        }
    }
}
//-------------End Feedback Section---------------------
//-------------Start Get In Touch Section---------------------
.get-in-touch{
    margin-top: 80px;
    background-color: rgb(234, 239, 241);
    .container{
        padding: 60px 0px;
        .container-2{
            width: 80%;
            margin: auto;
            .text{
                width: 47%;
                h5{
                    margin-top: 10px;
                    font-size: 1.4rem;
                }
                .target{
                    font-size: 2.4rem;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
                span{
                        border-bottom: 5px solid var(--main-color);
                        margin-bottom: 30px;
                }
                .target-2{
                    font-size: 1.1rem;
                    width: 85%;
                    margin-bottom: 30px;
                }
                form{
                    width: 410px;
                    input{
                        display: inline-block;
                        width: 78%;
                        padding: 12px 0px 12px 25px;
                        border-radius: 0px;
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                    }
                    button{
                        width: 90px;
                        height: 50px;
                        border-radius: 0px;
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                        margin-left: -5px;
                        margin-top: -5px;
                    }
                }
            }
            .image{
                width: 53%;
                img{
                    width: 100%;
                }
            }
        }
        
    }
}
//-------------End Get In Touch Section---------------------
//-------------Start Footer Section---------------------
.footer{
    background-color: rgb(23, 3, 3);
    .container{
        padding-top: 90px;
        img{
            margin-bottom: 23px;
        }
        .target{
            width: 300px;
        }
        .target-2{
            margin-top: 60px;
            font-size: .8rem;
        }
        h4{
            margin-bottom: 30px;
        }
        ul{
            list-style: none;
            padding-left: 0px;
            li{
                margin-bottom: 12px;
                a{
                    text-decoration: none;
                    font-size: 1.1rem;
                    color: rgb(133, 130, 130);
                }
            }
        }
        .social-media{
            .svg-inline--fa {
                margin-top: 20px;
                width: 20px;
                height: 20px;
                border: 1px solid rgb(192, 188, 188);
                border-radius: 50%;
                padding: 7px;
                margin-right: 8px;
            }
        }
        form{
            width: 410px;
            input{
                display: inline-block;
                width: 43%;
                padding: 12px 0px 12px 25px;
                border-radius: 0px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                background-color: rgb(234, 239, 241);
            }
            button{
                background-color: rgb(234, 239, 241);
                width: 70px;
                height: 50px;
                border-radius: 0px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                margin-left: -6px;
                margin-top: -5px;
                border-left: 1px solid white;
                .svg-inline--fa{
                    font-size: 1.5rem;
                }
            }
        }
    }
}
//-------------End Footer Section---------------------
//-------------Start Medium Screen---------------------
@media (min-width: 768px) and (max-width: 991.98px) {
    //-------------Start Mixins---------------------
@mixin box {
    font-size: 0.7rem;
    padding-left: 12px;
}
@mixin box-customized{
    @include box();
    max-height: 65px;
    margin-bottom: 10px;
    p{
        font-size: 0.8rem;
        height: 45px;
        padding-left: 25px;
        margin-left: 5px;
    }
    svg{
        font-size: 15px;
    }
    .dropdown{
        margin-left: 44px;
        ul{
            height: 65px;
            li{
                font-size: 0.6rem
            }
        }
    }
}
/*
@mixin word($word,$color,$border-color,$top-value,$left-value) {
    &::after {
        content: $word;
        position: absolute;
        color: $color;
        border-bottom: 4px solid $border-color;
        top: $top-value;
        left: $left-value;
    }
}*/
//-------------End Mixins---------------------
    //-------------Start Navbar---------------------
.navbar {
    min-height: 33px;
}

.navbar-expand-lg {
    .navbar-nav {
        .nav-link {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
}


.btn {
    padding: 8px 1.0rem;
    font-size: .8rem;
}

//-------------End Navbar---------------------
//-------------Start Smile Section---------------------
.smile {
    .container {
        margin-top: 15px;
    }

    .text {
        width: 70%;

        h1 {
            margin-top: 30px;
            font-size: 1.0rem;
        }

        h2 {
            font-size: 2.1rem;
        }

        P {
            font-size: .9rem;
            margin-bottom: 23px;
        }
        .btns {
            width: 80%;
            button {
                padding: 10px 20px;
                margin-right: 20px;
                margin-bottom: 25px;
            }
        }
    }

    .image {
        width: 50%;
    }
}

//-------------End Smile Section---------------------
//-------------Start Our Dentist Section---------------------
.our-dentist {
    margin-top: 80px;

    .image {
        img {
            max-width: 90%;
        }
    }

    .text {
        width: 45%;

        h2 {
            font-size: 1.5rem;
            font-weight: 300;
            &::after {
                width: 75px;
                height: 3px;
                top: 60px;
                left: 150px;
            }
        }
        span {
            font-weight: 400;
        }
        p {
            font-size: 0.8rem;
            width: 100%;
        }
        ul {
            li {
                font-size: 1.0rem;
                font-weight: 400;
                margin-bottom: 0px;
                &::marker {
                    font-size: 1.4rem;
                }
            }
        }
        h2,
        p {
            margin-bottom:20px;
        }
    }
}

//-------------End Our Dentist Section---------------------
//-------------Start Communication Section---------------------
.communication {
    margin-top: 40px;
    .container {
        width: 60%;
    }
    .im {
        width: 15%;
        img {
            width: 85%;
            margin-bottom: 15px;
        }

        p {
            font-size: 0.8rem;
        }
    }
}

//-------------End Communication Section---------------------
//-------------Start Our Gallery Section---------------------
.our-gallery {
    margin-top: 50px;
    .title {
        .p-1 {
            font-size: 1.9rem;
            font-weight: 400;
            &::after {
                width: 90px;
                height: 3px;
                top: 47px;
                right: 244px
            }
        }

        .p-2 {
            width: 520px;
            margin: auto;
            font-size: 0.9rem;
        }
    }

    .gallery {
        margin-top: 30px;
        width: 100%;
        height: 500px;
        img {
            max-width: 200px;
            max-height: 300px;
        }
        .img-mb {
            margin-bottom:20px;
            margin-right: 20px;
        }
        div {
            width: 65%
        }
    }
}

//-------------End Our Gallery Section---------------------
//-------------Start An Appointment Section---------------------
.appointment {
    margin-top: 50px;
    p {
        font-size: 2.0rem;
        font-weight: 500;
        margin-bottom: 35px;
        &::after {
            width: 193px;
            height: 3px;
            top: 50px;
            right: 183px;
        }
    }
    .image{
        width: 40%
    }
    .schedule {
        width: 55%;
        & > div{
            width: 100%;
        }
        .bb{
            border-bottom: 2px solid #eee;
            margin-bottom: 8px;
        }
        h2{
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .form-check {
            margin-bottom: 10px;
            &-input {
                width: 2.3rem;
                height: 20px;
                margin-left: -1.0em;
                margin-right: 1.0rem;
            }
        }
        label {
            font-size: 1.0rem;
            font-weight: 500;
        }
        .calender{
            margin-bottom: 10px;
        }
        .boxes{
            width: 47%;
            h3{
                font-size: 0.9rem;
            }
            & > div{
                width: 100%;
                padding-bottom: 5px;
                &.bb{
                    border-bottom: 3px solid var(--main-color);
                    margin-bottom: 15px;
                }
            }
            .box-1{
                @include box();
                span{
                    border-left: 2px solid #eee;
                    padding-left: 30px;
                    margin-left: 10px;
                }
            }
            .box-2{
                @include box-customized();
            }
            .box-3{
                @include box-customized();
            
            }
            .box-4{
                .dropdown{
                    left: 110px;
                    top: -80px;
                }
            }
            .box-6{
                .dropdown{
                    left: 110px;
                    top: -80px;
                }
            }
        }
    }
}
//-------------End An Appointment Section---------------------
//-------------Start Feedback Section---------------------
.feedback{
    h2{
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 35px;
        margin-top: 40px;
        span{
            border-bottom: 3px solid var(--main-color);
        }
    }
    .container-3{
        width: 70%;
        margin: auto;
        .image{
            width: fit-content;
            img{
                width: 409.6px;
                height: 270.4px;
            }
        }
    }
    .carousel{
        p{
            font-size: 1.0rem;
            margin-left: 10px;
            margin-bottom: 30px;
        }
        .carousel-inner{
            .carousel-item {
                .carousel-caption{
                    .svg-inline--fa {
                        margin-left: -30px;
                        font-size: 25px;
                    }
                    .left-icon{
                        margin-left: 0px;
                        margin-bottom: -10px;
                    }
                    .personal-data{
                        img{
                            width: 86.6px;
                            height: 85.5px;
                        }
                        h5{
                            font-size: 18px;
                            left: -12px;
                            &::after{
                                font-size: 12px;
                                top: 30px;
                                left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}
//-------------End Feedback Section---------------------
//-------------Start Get In Touch Section---------------------
.get-in-touch{
    margin-top: 40px;
    .container{
        .container-2{
            width: 100%;
            .text{
                width: 45%;
                h5{
                    margin-top: 10px;
                    font-size: 1.0rem;
                }
                .target{
                    font-size: 1.2rem;
                    font-weight: 500;
                    margin-bottom: 15px;
                }
                span{
                    border-bottom: 3px solid var(--main-color);
                }
                .target-2{
                    font-size: 0.8rem;
                    width: 90%;
                    margin-bottom: 18px;
                }
                form{
                    width: 410px;
                    input{
                        width: 48%;
                        padding: 8px 0px 8px 18px;
                        border-radius: 0px;
                        &::placeholder{
                            font-size: 10px;
                        }
                    }
                    button{
                        width: 70px;
                        height: 41px;
                        font-size: 10px;
                    }
                }
            }
            .image{
                width: 55%;
            }
        }
        
    }
}
//-------------End Get In Touch Section---------------------
//-------------Start Footer Section---------------------
.footer{
    .container{
        padding-top: 60px;
        img{
            margin-bottom: 18px;
        }
        .target{
            width: 250px;
        }
        p{
            font-size: 13px;
        }
        .target-2{
            margin-top: 45px;
            font-size: .6rem;
        }
        h4{
            font-size: 18px;
            margin-bottom: 20px;
        }
        ul{
            li{
                margin-bottom: 6px;
                a{
                    font-size: 0.9rem;
                }
            }
        }
        .social-media{
            .svg-inline--fa {
                margin-top: 10px;
                width: 10px;
                height: 10px;
                margin-right: 2px;
            }
        }
        form{
            input{
                width: 33%;
                padding: 8px 0px 8px 20px;
                &::placeholder{
                    font-size: 13px;
                }
            }
            button{
                width: 60px;
                height: 41.6px;
                .svg-inline--fa{
                    font-size: 1.1rem;
                }
            }
        }
    }
}
//-------------End Footer Section---------------------
}

//-------------End Medium Screen---------------------