/*
@mixin word($word,$color,$border-color,$top-value,$left-value) {
    &::after {
        content: $word;
        position: absolute;
        color: $color;
        border-bottom: 4px solid $border-color;
        top: $top-value;
        left: $left-value;
    }
}*/
.navbar {
  min-height: 93px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-light {
  background-color: rgb(16, 80, 83);
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(238, 183, 87);
}

.btn {
  padding: 13px 1.5rem;
  font-size: 1rem;
  background-color: rgb(238, 183, 87);
}

.smile {
  max-height: 700px;
  overflow: hidden;
  background-color: rgb(16, 80, 83);
}
.smile .container {
  margin-top: 80px;
}
.smile .text {
  width: 40%;
}
.smile .text h1 {
  margin-top: 30px;
  font-size: 1.5rem;
  color: rgb(238, 183, 87);
}
.smile .text h2 {
  color: white;
  font-size: 3.1rem;
  width: 85%;
  position: relative;
}
.smile .text h2 span {
  font-weight: 600;
}
.smile .text h2::after {
  content: "Smile.";
  color: rgb(238, 183, 87);
  border-bottom: 4px solid rgb(238, 183, 87);
}
.smile .text P {
  width: 85%;
  color: white;
  font-size: 1rem;
  margin-bottom: 33px;
}
.smile .text .btns {
  width: 60%;
  margin-left: 0px;
}
.smile .text .btns button {
  text-transform: capitalize;
  padding: 10px 25px;
  background-color: rgb(238, 183, 87);
  border-radius: 5px;
  border: none;
  margin-right: 20px;
}
.smile .text .btns button.find {
  color: rgb(238, 183, 87);
  border: 1px solid rgb(238, 183, 87);
  background-color: rgb(16, 80, 83);
}
.smile .image {
  width: 45%;
  margin-bottom: 30px;
}
.smile .image img {
  width: 100%;
}

.our-dentist {
  margin-top: 130px;
}
.our-dentist .image {
  width: 50%;
}
.our-dentist .image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.our-dentist .text {
  width: 45%;
}
.our-dentist .text h2 {
  font-size: 2.5rem;
  font-weight: 400;
  position: relative;
}
.our-dentist .text h2::after {
  content: "";
  width: 128px;
  height: 4px;
  background-color: rgb(238, 183, 87);
  top: 100px;
  left: 258px;
  position: absolute;
}
.our-dentist .text span {
  text-transform: capitalize;
  font-weight: 600;
}
.our-dentist .text p {
  width: 68%;
}
.our-dentist .text ul li {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 12px;
}
.our-dentist .text ul li::marker {
  font-size: 1.8rem;
  color: rgb(238, 183, 87);
}
.our-dentist .text h2,
.our-dentist .text p {
  margin-bottom: 30px;
}

.communication {
  margin-top: 90px;
}
.communication .container {
  width: 70%;
  margin: auto;
}
.communication .im {
  width: 20%;
}
.communication .im img {
  width: 85%;
  margin-bottom: 30px;
}
.communication .im p {
  font-size: 1.5rem;
  font-weight: 500;
}

.our-gallery {
  margin-top: 100px;
}
.our-gallery .title .p-1 {
  font-size: 2.4rem;
  font-weight: 500;
  position: relative;
}
.our-gallery .title .p-1::after {
  content: "";
  width: 120px;
  height: 4px;
  background-color: rgb(238, 183, 87);
  top: 58px;
  right: 514px;
  position: absolute;
}
.our-gallery .title .p-2 {
  width: 520px;
  margin: auto;
}
.our-gallery .gallery {
  margin-top: 50px;
  background-color: rgb(16, 80, 83);
  width: 100%;
  height: 750px;
}
.our-gallery .gallery img {
  max-width: 300px;
  max-height: 400px;
}
.our-gallery .gallery .img-mb {
  margin-bottom: 30px;
}
.our-gallery .gallery div {
  width: 75%;
}
.our-gallery .gallery div div {
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.appointment {
  margin-top: 100px;
}
.appointment p {
  font-size: 2.4rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 55px;
}
.appointment p::after {
  content: "";
  width: 231px;
  height: 4px;
  background-color: rgb(238, 183, 87);
  top: 58px;
  right: 450px;
  position: absolute;
}
.appointment .image {
  width: 45%;
}
.appointment .image img {
  width: 95%;
}
.appointment .schedule {
  width: 50%;
}
.appointment .schedule > div {
  width: 82%;
}
.appointment .schedule .bb {
  border-bottom: 2px solid #eee;
  margin-bottom: 23px;
}
.appointment .schedule h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 23px;
}
.appointment .schedule .form-check {
  display: inline-block;
  margin-bottom: 20px;
}
.appointment .schedule .form-check-input {
  width: 2.5rem;
  height: 26px;
  margin-left: -1.5em;
  margin-right: 1.5rem;
  background-color: rgb(238, 183, 87);
  cursor: pointer;
}
.appointment .schedule label {
  font-size: 1.3rem;
  font-weight: 600;
}
.appointment .schedule .calender {
  margin-bottom: 20px;
}
.appointment .schedule .boxes {
  width: 47%;
  flex-direction: column;
}
.appointment .schedule .boxes h3 {
  font-size: 1.4rem;
}
.appointment .schedule .boxes > div {
  width: 100%;
  padding-bottom: 10px;
}
.appointment .schedule .boxes > div.bb {
  border-bottom: 5px solid rgb(238, 183, 87);
  margin-bottom: 30px;
}
.appointment .schedule .boxes .box-1 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 0.9rem;
  font-weight: 600;
  padding-left: 12px;
}
.appointment .schedule .boxes .box-1 span {
  border-left: 2px solid #eee;
  padding-left: 30px;
  margin-left: 10px;
}
.appointment .schedule .boxes .box-2 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 0.9rem;
  font-weight: 600;
  padding-left: 12px;
  max-height: 80px;
  margin-bottom: 15px;
}
.appointment .schedule .boxes .box-2 p {
  display: inline-block;
  font-size: 0.9rem;
  border-left: 2px solid #eee;
  height: 60px;
  padding-left: 30px;
  margin-left: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.appointment .schedule .boxes .box-2 p::after {
  content: "10:10 am - 11:00 am blood doctor";
  width: 100px;
  height: 0px;
  color: rgb(131, 130, 130);
  top: 20px;
  left: 28px;
  font-size: 0.6rem;
}
.appointment .schedule .boxes .box-2 .btn {
  background-color: transparent;
  border: 0px;
  padding: 0px 0px;
}
.appointment .schedule .boxes .box-2 svg {
  color: rgb(255, 187, 0);
  font-size: 20px;
}
.appointment .schedule .boxes .box-2 .dropdown {
  display: inline-block;
  margin-left: 84px;
}
.appointment .schedule .boxes .box-2 .dropdown ul {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 70px;
  background-color: rgb(16, 80, 83);
}
.appointment .schedule .boxes .box-2 .dropdown ul li {
  font-size: 0.7rem;
}
.appointment .schedule .boxes .box-2 .dropdown ul li a {
  padding: 0px 35px 0px 10px;
  color: white;
}
.appointment .schedule .boxes .box-2 .dropdown ul li a:hover {
  color: black;
}
.appointment .schedule .boxes .box-3 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 0.9rem;
  font-weight: 600;
  padding-left: 12px;
  max-height: 80px;
  margin-bottom: 15px;
}
.appointment .schedule .boxes .box-3 p {
  display: inline-block;
  font-size: 0.9rem;
  border-left: 2px solid #eee;
  height: 60px;
  padding-left: 30px;
  margin-left: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.appointment .schedule .boxes .box-3 p::after {
  content: "10:10 am - 11:00 am blood doctor";
  width: 100px;
  height: 0px;
  color: rgb(131, 130, 130);
  top: 20px;
  left: 28px;
  font-size: 0.6rem;
}
.appointment .schedule .boxes .box-3 .btn {
  background-color: transparent;
  border: 0px;
  padding: 0px 0px;
}
.appointment .schedule .boxes .box-3 svg {
  color: rgb(255, 187, 0);
  font-size: 20px;
}
.appointment .schedule .boxes .box-3 .dropdown {
  display: inline-block;
  margin-left: 84px;
}
.appointment .schedule .boxes .box-3 .dropdown ul {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 70px;
  background-color: rgb(16, 80, 83);
}
.appointment .schedule .boxes .box-3 .dropdown ul li {
  font-size: 0.7rem;
}
.appointment .schedule .boxes .box-3 .dropdown ul li a {
  padding: 0px 35px 0px 10px;
  color: white;
}
.appointment .schedule .boxes .box-3 .dropdown ul li a:hover {
  color: black;
}
.appointment .schedule .boxes .box-3 p::after {
  content: "11:10 am - 1:00 pm general doctor";
}
.appointment .schedule .boxes .box-4 p::after {
  content: "03:10 am - 03:50 am blood doctor";
}
.appointment .schedule .boxes .box-4 .dropdown {
  left: 130px;
  top: -115px;
}
.appointment .schedule .boxes .box-6 p::after {
  content: "05:10 am - 07:00 pm general doctor";
}
.appointment .schedule .boxes .box-6 .dropdown {
  left: 130px;
  top: -115px;
}

.feedback h2 {
  font-size: 2.4rem;
  font-weight: 600;
  width: 550px;
  margin: auto;
  margin-bottom: 55px;
  margin-top: 100px;
}
.feedback h2 span {
  border-bottom: 4px solid rgb(238, 183, 87);
}
.feedback .container-3 {
  width: 90%;
  margin: auto;
}
.feedback .container-3 .image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.feedback .container-3 .image img {
  width: 409.6px;
  height: 270.4px;
}
.feedback .carousel {
  width: 600px;
}
.feedback .carousel p {
  color: black;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-bottom: 40px;
  color: rgb(74, 73, 73);
  font-weight: 400;
}
.feedback .carousel .carousel-inner .carousel-item .carousel-caption .svg-inline--fa {
  color: bisque;
  margin-left: -40px;
  font-size: 40px;
}
.feedback .carousel .carousel-inner .carousel-item .carousel-caption .left-icon {
  margin-left: 5px;
  margin-bottom: -12px;
}
.feedback .carousel .carousel-inner .carousel-item .carousel-caption .personal-data img {
  display: inline-block;
  width: 96.6px;
  height: 95.5px;
  border-radius: 25px;
  margin-left: -240px;
  margin-bottom: 15px;
}
.feedback .carousel .carousel-inner .carousel-item .carousel-caption .personal-data h5 {
  display: inline-block;
  position: relative;
  width: 140px;
  font-size: 22px;
  color: black;
  top: -21px;
}
.feedback .carousel .carousel-inner .carousel-item .carousel-caption .personal-data h5::after {
  content: "Parents";
  position: absolute;
  color: rgb(74, 73, 73);
  font-size: 14px;
  font-weight: 400;
  top: 30px;
  left: 15px;
}
.feedback .carousel .carousel-indicators {
  margin-left: -330px;
}
.feedback .carousel .carousel-indicators [data-bs-target] {
  width: 16px;
  height: 8px;
  color: black;
  margin-right: 5px;
  border-radius: 49%;
  background-color: rgb(238, 183, 87);
}
.feedback .carousel .carousel-indicators .active {
  width: 25px;
  height: 9px;
}

.get-in-touch {
  margin-top: 80px;
  background-color: rgb(234, 239, 241);
}
.get-in-touch .container {
  padding: 60px 0px;
}
.get-in-touch .container .container-2 {
  width: 80%;
  margin: auto;
}
.get-in-touch .container .container-2 .text {
  width: 47%;
}
.get-in-touch .container .container-2 .text h5 {
  margin-top: 10px;
  font-size: 1.4rem;
}
.get-in-touch .container .container-2 .text .target {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.get-in-touch .container .container-2 .text span {
  border-bottom: 5px solid rgb(238, 183, 87);
  margin-bottom: 30px;
}
.get-in-touch .container .container-2 .text .target-2 {
  font-size: 1.1rem;
  width: 85%;
  margin-bottom: 30px;
}
.get-in-touch .container .container-2 .text form {
  width: 410px;
}
.get-in-touch .container .container-2 .text form input {
  display: inline-block;
  width: 78%;
  padding: 12px 0px 12px 25px;
  border-radius: 0px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.get-in-touch .container .container-2 .text form button {
  width: 90px;
  height: 50px;
  border-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: -5px;
  margin-top: -5px;
}
.get-in-touch .container .container-2 .image {
  width: 53%;
}
.get-in-touch .container .container-2 .image img {
  width: 100%;
}

.footer {
  background-color: rgb(23, 3, 3);
}
.footer .container {
  padding-top: 90px;
}
.footer .container img {
  margin-bottom: 23px;
}
.footer .container .target {
  width: 300px;
}
.footer .container .target-2 {
  margin-top: 60px;
  font-size: 0.8rem;
}
.footer .container h4 {
  margin-bottom: 30px;
}
.footer .container ul {
  list-style: none;
  padding-left: 0px;
}
.footer .container ul li {
  margin-bottom: 12px;
}
.footer .container ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(133, 130, 130);
}
.footer .container .social-media .svg-inline--fa {
  margin-top: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(192, 188, 188);
  border-radius: 50%;
  padding: 7px;
  margin-right: 8px;
}
.footer .container form {
  width: 410px;
}
.footer .container form input {
  display: inline-block;
  width: 43%;
  padding: 12px 0px 12px 25px;
  border-radius: 0px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgb(234, 239, 241);
}
.footer .container form button {
  background-color: rgb(234, 239, 241);
  width: 70px;
  height: 50px;
  border-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: -6px;
  margin-top: -5px;
  border-left: 1px solid white;
}
.footer .container form button .svg-inline--fa {
  font-size: 1.5rem;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /*
  @mixin word($word,$color,$border-color,$top-value,$left-value) {
      &::after {
          content: $word;
          position: absolute;
          color: $color;
          border-bottom: 4px solid $border-color;
          top: $top-value;
          left: $left-value;
      }
  }*/
  .navbar {
    min-height: 33px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .btn {
    padding: 8px 1rem;
    font-size: 0.8rem;
  }
  .smile .container {
    margin-top: 15px;
  }
  .smile .text {
    width: 70%;
  }
  .smile .text h1 {
    margin-top: 30px;
    font-size: 1rem;
  }
  .smile .text h2 {
    font-size: 2.1rem;
  }
  .smile .text P {
    font-size: 0.9rem;
    margin-bottom: 23px;
  }
  .smile .text .btns {
    width: 80%;
  }
  .smile .text .btns button {
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 25px;
  }
  .smile .image {
    width: 50%;
  }
  .our-dentist {
    margin-top: 80px;
  }
  .our-dentist .image img {
    max-width: 90%;
  }
  .our-dentist .text {
    width: 45%;
  }
  .our-dentist .text h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .our-dentist .text h2::after {
    width: 75px;
    height: 3px;
    top: 60px;
    left: 150px;
  }
  .our-dentist .text span {
    font-weight: 400;
  }
  .our-dentist .text p {
    font-size: 0.8rem;
    width: 100%;
  }
  .our-dentist .text ul li {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .our-dentist .text ul li::marker {
    font-size: 1.4rem;
  }
  .our-dentist .text h2,
.our-dentist .text p {
    margin-bottom: 20px;
  }
  .communication {
    margin-top: 40px;
  }
  .communication .container {
    width: 60%;
  }
  .communication .im {
    width: 15%;
  }
  .communication .im img {
    width: 85%;
    margin-bottom: 15px;
  }
  .communication .im p {
    font-size: 0.8rem;
  }
  .our-gallery {
    margin-top: 50px;
  }
  .our-gallery .title .p-1 {
    font-size: 1.9rem;
    font-weight: 400;
  }
  .our-gallery .title .p-1::after {
    width: 90px;
    height: 3px;
    top: 47px;
    right: 244px;
  }
  .our-gallery .title .p-2 {
    width: 520px;
    margin: auto;
    font-size: 0.9rem;
  }
  .our-gallery .gallery {
    margin-top: 30px;
    width: 100%;
    height: 500px;
  }
  .our-gallery .gallery img {
    max-width: 200px;
    max-height: 300px;
  }
  .our-gallery .gallery .img-mb {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .our-gallery .gallery div {
    width: 65%;
  }
  .appointment {
    margin-top: 50px;
  }
  .appointment p {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 35px;
  }
  .appointment p::after {
    width: 193px;
    height: 3px;
    top: 50px;
    right: 183px;
  }
  .appointment .image {
    width: 40%;
  }
  .appointment .schedule {
    width: 55%;
  }
  .appointment .schedule > div {
    width: 100%;
  }
  .appointment .schedule .bb {
    border-bottom: 2px solid #eee;
    margin-bottom: 8px;
  }
  .appointment .schedule h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .appointment .schedule .form-check {
    margin-bottom: 10px;
  }
  .appointment .schedule .form-check-input {
    width: 2.3rem;
    height: 20px;
    margin-left: -1em;
    margin-right: 1rem;
  }
  .appointment .schedule label {
    font-size: 1rem;
    font-weight: 500;
  }
  .appointment .schedule .calender {
    margin-bottom: 10px;
  }
  .appointment .schedule .boxes {
    width: 47%;
  }
  .appointment .schedule .boxes h3 {
    font-size: 0.9rem;
  }
  .appointment .schedule .boxes > div {
    width: 100%;
    padding-bottom: 5px;
  }
  .appointment .schedule .boxes > div.bb {
    border-bottom: 3px solid var(--main-color);
    margin-bottom: 15px;
  }
  .appointment .schedule .boxes .box-1 {
    font-size: 0.7rem;
    padding-left: 12px;
  }
  .appointment .schedule .boxes .box-1 span {
    border-left: 2px solid #eee;
    padding-left: 30px;
    margin-left: 10px;
  }
  .appointment .schedule .boxes .box-2 {
    font-size: 0.7rem;
    padding-left: 12px;
    max-height: 65px;
    margin-bottom: 10px;
  }
  .appointment .schedule .boxes .box-2 p {
    font-size: 0.8rem;
    height: 45px;
    padding-left: 25px;
    margin-left: 5px;
  }
  .appointment .schedule .boxes .box-2 svg {
    font-size: 15px;
  }
  .appointment .schedule .boxes .box-2 .dropdown {
    margin-left: 44px;
  }
  .appointment .schedule .boxes .box-2 .dropdown ul {
    height: 65px;
  }
  .appointment .schedule .boxes .box-2 .dropdown ul li {
    font-size: 0.6rem;
  }
  .appointment .schedule .boxes .box-3 {
    font-size: 0.7rem;
    padding-left: 12px;
    max-height: 65px;
    margin-bottom: 10px;
  }
  .appointment .schedule .boxes .box-3 p {
    font-size: 0.8rem;
    height: 45px;
    padding-left: 25px;
    margin-left: 5px;
  }
  .appointment .schedule .boxes .box-3 svg {
    font-size: 15px;
  }
  .appointment .schedule .boxes .box-3 .dropdown {
    margin-left: 44px;
  }
  .appointment .schedule .boxes .box-3 .dropdown ul {
    height: 65px;
  }
  .appointment .schedule .boxes .box-3 .dropdown ul li {
    font-size: 0.6rem;
  }
  .appointment .schedule .boxes .box-4 .dropdown {
    left: 110px;
    top: -80px;
  }
  .appointment .schedule .boxes .box-6 .dropdown {
    left: 110px;
    top: -80px;
  }
  .feedback h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 35px;
    margin-top: 40px;
  }
  .feedback h2 span {
    border-bottom: 3px solid var(--main-color);
  }
  .feedback .container-3 {
    width: 70%;
    margin: auto;
  }
  .feedback .container-3 .image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .feedback .container-3 .image img {
    width: 409.6px;
    height: 270.4px;
  }
  .feedback .carousel p {
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .feedback .carousel .carousel-inner .carousel-item .carousel-caption .svg-inline--fa {
    margin-left: -30px;
    font-size: 25px;
  }
  .feedback .carousel .carousel-inner .carousel-item .carousel-caption .left-icon {
    margin-left: 0px;
    margin-bottom: -10px;
  }
  .feedback .carousel .carousel-inner .carousel-item .carousel-caption .personal-data img {
    width: 86.6px;
    height: 85.5px;
  }
  .feedback .carousel .carousel-inner .carousel-item .carousel-caption .personal-data h5 {
    font-size: 18px;
    left: -12px;
  }
  .feedback .carousel .carousel-inner .carousel-item .carousel-caption .personal-data h5::after {
    font-size: 12px;
    top: 30px;
    left: 25px;
  }
  .get-in-touch {
    margin-top: 40px;
  }
  .get-in-touch .container .container-2 {
    width: 100%;
  }
  .get-in-touch .container .container-2 .text {
    width: 45%;
  }
  .get-in-touch .container .container-2 .text h5 {
    margin-top: 10px;
    font-size: 1rem;
  }
  .get-in-touch .container .container-2 .text .target {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .get-in-touch .container .container-2 .text span {
    border-bottom: 3px solid var(--main-color);
  }
  .get-in-touch .container .container-2 .text .target-2 {
    font-size: 0.8rem;
    width: 90%;
    margin-bottom: 18px;
  }
  .get-in-touch .container .container-2 .text form {
    width: 410px;
  }
  .get-in-touch .container .container-2 .text form input {
    width: 48%;
    padding: 8px 0px 8px 18px;
    border-radius: 0px;
  }
  .get-in-touch .container .container-2 .text form input::-moz-placeholder {
    font-size: 10px;
  }
  .get-in-touch .container .container-2 .text form input:-ms-input-placeholder {
    font-size: 10px;
  }
  .get-in-touch .container .container-2 .text form input::placeholder {
    font-size: 10px;
  }
  .get-in-touch .container .container-2 .text form button {
    width: 70px;
    height: 41px;
    font-size: 10px;
  }
  .get-in-touch .container .container-2 .image {
    width: 55%;
  }
  .footer .container {
    padding-top: 60px;
  }
  .footer .container img {
    margin-bottom: 18px;
  }
  .footer .container .target {
    width: 250px;
  }
  .footer .container p {
    font-size: 13px;
  }
  .footer .container .target-2 {
    margin-top: 45px;
    font-size: 0.6rem;
  }
  .footer .container h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .footer .container ul li {
    margin-bottom: 6px;
  }
  .footer .container ul li a {
    font-size: 0.9rem;
  }
  .footer .container .social-media .svg-inline--fa {
    margin-top: 10px;
    width: 10px;
    height: 10px;
    margin-right: 2px;
  }
  .footer .container form input {
    width: 33%;
    padding: 8px 0px 8px 20px;
  }
  .footer .container form input::-moz-placeholder {
    font-size: 13px;
  }
  .footer .container form input:-ms-input-placeholder {
    font-size: 13px;
  }
  .footer .container form input::placeholder {
    font-size: 13px;
  }
  .footer .container form button {
    width: 60px;
    height: 42px;
  }
  .footer .container form button .svg-inline--fa {
    font-size: 1.1rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /*
  @mixin word($word,$color,$border-color,$top-value,$left-value) {
      &::after {
          content: $word;
          position: absolute;
          color: $color;
          border-bottom: 4px solid $border-color;
          top: $top-value;
          left: $left-value;
      }
  }*/
  .navbar {
    min-height: 23px;
  }
  img {
    width: 65%;
  }
  .navbar-light .navbar-toggler-icon {
    font-size: 15px;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 10px;
  }
  .btn {
    padding: 5px 0.6rem;
    font-size: 0.6rem;
    margin-left: 20px;
  }
  .smile .container {
    margin-top: 15px;
  }
  .smile .text {
    width: 60%;
  }
  .smile .text h1 {
    margin-top: 25px;
    font-size: 0.8rem;
  }
  .smile .text h2 {
    font-size: 1.7rem;
  }
  .smile .text P {
    font-size: 0.7rem;
    margin-bottom: 18px;
  }
  .smile .text .btns {
    width: 90%;
  }
  .smile .text .btns button {
    padding: 8px 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 10px;
  }
  .smile .image {
    width: 40%;
  }
  .our-dentist {
    margin-top: 40px;
  }
  .our-dentist .image img {
    min-width: 90%;
  }
  .our-dentist .text {
    width: 60%;
  }
  .our-dentist .text h2 {
    font-size: 1rem;
    font-weight: 200;
  }
  .our-dentist .text h2::after {
    width: 50px;
    height: 3px;
    top: 40px;
    left: 100px;
  }
  .our-dentist .text p {
    font-size: 0.7rem;
    width: 100%;
  }
  .our-dentist .text ul li {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 0px;
  }
  .our-dentist .text ul li::marker {
    font-size: 1rem;
  }
  .our-dentist .text h2,
.our-dentist .text p {
    margin-bottom: 10px;
  }
  .communication {
    margin-top: 20px;
  }
  .communication .im {
    width: 14%;
  }
  .communication .im img {
    margin-bottom: 10px;
  }
  .communication .im p {
    font-size: 0.7rem;
  }
  .our-gallery {
    margin-top: 20px;
  }
  .our-gallery .title .p-1 {
    font-size: 1.5rem;
  }
  .our-gallery .title .p-1::after {
    width: 75px;
    height: 3px;
    top: 39px;
    right: 174px;
  }
  .our-gallery .title .p-2 {
    font-size: 0.7rem;
  }
  .our-gallery .gallery {
    margin-top: 20px;
    width: 100%;
    height: 250px;
  }
  .our-gallery .gallery img {
    width: 90%;
  }
  .our-gallery .gallery .img-mb {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .our-gallery .gallery div {
    width: 70%;
  }
  .appointment {
    margin-top: 25px;
  }
  .appointment p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .appointment p::after {
    width: 95px;
    height: 3px;
    top: 24px;
    right: 175px;
  }
  .appointment .image {
    width: 35%;
  }
  .appointment .schedule {
    width: 63%;
  }
  .appointment .schedule > div {
    width: 100%;
  }
  .appointment .schedule .bb {
    border-bottom: 2px solid #eee;
    margin-bottom: 5px;
  }
  .appointment .schedule h2 {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .appointment .schedule .form-check {
    margin-bottom: 5px;
  }
  .appointment .schedule .form-check-input {
    width: 1.9rem;
    height: 15px;
  }
  .appointment .schedule label {
    font-size: 0.8rem;
  }
  .appointment .schedule .calender {
    margin-bottom: 8px;
  }
  .appointment .schedule .boxes {
    width: 47%;
  }
  .appointment .schedule .boxes h3 {
    font-size: 0.7rem;
  }
  .appointment .schedule .boxes > div {
    width: 100%;
    padding-bottom: 1px;
  }
  .appointment .schedule .boxes > div.bb {
    border-bottom: 3px solid var(--main-color);
    margin-bottom: 15px;
  }
  .appointment .schedule .boxes .box-1 {
    font-size: 0.5rem;
    padding-left: 12px;
  }
  .appointment .schedule .boxes .box-1 span {
    border-left: 2px solid #eee;
    padding-left: 30px;
    margin-left: 10px;
  }
  .appointment .schedule .boxes .box-2 {
    font-size: 0.5rem;
    padding-left: 12px;
    max-height: 70px;
    margin-bottom: 8px;
  }
  .appointment .schedule .boxes .box-2 p {
    font-size: 0.6rem;
    height: 20px;
    padding-left: 20px;
    margin-left: 3px;
  }
  .appointment .schedule .boxes .box-2 p::after {
    width: 60px;
    font-size: 7px;
  }
  .appointment .schedule .boxes .box-2 svg {
    font-size: 12px;
  }
  .appointment .schedule .boxes .box-2 .dropdown {
    margin-left: 110px;
    top: -40px;
  }
  .appointment .schedule .boxes .box-2 .dropdown ul {
    height: 62px;
  }
  .appointment .schedule .boxes .box-2 .dropdown ul li {
    font-size: 0.5rem;
  }
  .appointment .schedule .boxes .box-3 {
    font-size: 0.5rem;
    padding-left: 12px;
    max-height: 70px;
    margin-bottom: 8px;
  }
  .appointment .schedule .boxes .box-3 p {
    font-size: 0.6rem;
    height: 20px;
    padding-left: 20px;
    margin-left: 3px;
  }
  .appointment .schedule .boxes .box-3 p::after {
    width: 60px;
    font-size: 7px;
  }
  .appointment .schedule .boxes .box-3 svg {
    font-size: 12px;
  }
  .appointment .schedule .boxes .box-3 .dropdown {
    margin-left: 110px;
    top: -40px;
  }
  .appointment .schedule .boxes .box-3 .dropdown ul {
    height: 62px;
  }
  .appointment .schedule .boxes .box-3 .dropdown ul li {
    font-size: 0.5rem;
  }
  .appointment .schedule .boxes .box-4 .dropdown {
    left: 0px;
    top: -40px;
  }
  .appointment .schedule .boxes .box-6 .dropdown {
    left: 0px;
    top: -40px;
  }
  .feedback h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 35px;
    margin-top: 40px;
  }
  .feedback h2 span {
    border-bottom: 3px solid var(--main-color);
  }
  .feedback .container-3 {
    width: 70%;
    margin: auto;
  }
  .feedback .container-3 .image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .feedback .container-3 .image img {
    width: 409.6px;
    height: 270.4px;
  }
  .feedback .carousel p {
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .feedback .carousel .carousel-inner .carousel-item .carousel-caption .svg-inline--fa {
    margin-left: -30px;
    font-size: 25px;
  }
  .feedback .carousel .carousel-inner .carousel-item .carousel-caption .left-icon {
    margin-left: 0px;
    margin-bottom: -10px;
  }
  .feedback .carousel .carousel-inner .carousel-item .carousel-caption .personal-data img {
    width: 86.6px;
    height: 85.5px;
  }
  .feedback .carousel .carousel-inner .carousel-item .carousel-caption .personal-data h5 {
    font-size: 18px;
    left: -12px;
  }
  .feedback .carousel .carousel-inner .carousel-item .carousel-caption .personal-data h5::after {
    font-size: 12px;
    top: 30px;
    left: 25px;
  }
  .get-in-touch {
    margin-top: 20px;
  }
  .get-in-touch .container .container-2 {
    width: 100%;
  }
  .get-in-touch .container .container-2 .text {
    width: 45%;
  }
  .get-in-touch .container .container-2 .text h5 {
    font-size: 0.9rem;
  }
  .get-in-touch .container .container-2 .text .target {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .get-in-touch .container .container-2 .text span {
    border-bottom: 2px solid rgb(238, 183, 87);
  }
  .get-in-touch .container .container-2 .text .target-2 {
    font-size: 0.7rem;
    width: 90%;
    margin-bottom: 14px;
  }
  .get-in-touch .container .container-2 .text form {
    width: 310px;
  }
  .get-in-touch .container .container-2 .text form input {
    width: 48%;
    padding: 5px 0px 5px 13px;
    border-radius: 0px;
  }
  .get-in-touch .container .container-2 .text form input::-moz-placeholder {
    font-size: 10px;
  }
  .get-in-touch .container .container-2 .text form input:-ms-input-placeholder {
    font-size: 10px;
  }
  .get-in-touch .container .container-2 .text form input::placeholder {
    font-size: 10px;
  }
  .get-in-touch .container .container-2 .text form button {
    width: 70px;
    height: 36px;
    font-size: 10px;
  }
  .get-in-touch .container .container-2 .image {
    width: 55%;
  }
  .footer .container {
    padding-top: 50px;
  }
  .footer .container img {
    margin-bottom: 13px;
  }
  .footer .container .target {
    width: 250px;
  }
  .footer .container p {
    font-size: 10px;
  }
  .footer .container .target-2 {
    margin-top: 35px;
    font-size: 0.6rem;
  }
  .footer .container h4 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .footer .container ul li {
    margin-bottom: 5px;
  }
  .footer .container ul li a {
    font-size: 0.7rem;
  }
  .footer .container .social-media .svg-inline--fa {
    margin-top: 8px;
    width: 8px;
    height: 8px;
    margin-right: 2px;
  }
  .footer .container form input {
    width: 27%;
    padding: 5px 0px 5px 15px;
  }
  .footer .container form input::-moz-placeholder {
    font-size: 11px;
  }
  .footer .container form input:-ms-input-placeholder {
    font-size: 11px;
  }
  .footer .container form input::placeholder {
    font-size: 11px;
  }
  .footer .container form button {
    width: 50px;
    height: 36px;
  }
  .footer .container form button .svg-inline--fa {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=health.css.map */